body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #ffffff;
}

#section_one {
    background-image: url("images/bg_section1.png");
}

#section_three {
    color: #ffffff;
}

/*Background for section_three*/
.pink {
    background-color: #f5989d;
}

.grey {
    background-color: #615f7d;
}

.green {
    background-color: #09a298;
}

.image1 {
    background-image: url("../images/image1.png");
}

.image2 {
    background-image: url("../images/image2.png");
}

.padding {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

@media (min-width: 1200px) {
    .container {
        width: 1230px;
    }
}