body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("../images/bg_section1.png");
    background-repeat: no-repeat;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #222626;
}

p {
    color: #959595;
}

.white {
    color: #ffffff;
    font-size: 13px;
}

.whiteh2 {
    color: #ffffff;
    font-size: 30px;
}

/*Header*/
.logo {
    padding-top: 54px;
}

/*Hero*/
h1 {
    color: #ffffff;
}

.hero {
    padding-top: 355px;
    padding-bottom: 380px;
}

.hero h1 {
    font-size: 60px;
}

.iphone {
    padding-top: 258px;
}

/*Section_three*/
#section_three {
    color: #ffffff;
}

.pink {
    background-color: #f5989d;
}

.grey {
    background-color: #615f7d;
}

.green {
    background-color: #09a298;
}

.image1 {
    background-image: url("../images/image1.png");
}

.image2 {
    background-image: url("../images/image2.png");
}

.padding {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

@media (min-width: 1200px) {
    .container {
        width: 1230px;
    }
}